//Variaveis
//Cores
$cor-primaria: #0C0421;
$cor-secundaria: #4e75ff;
$cor-terciaria: #7283c4;
$cor-quaternaria: #a4c4da;
$cor-default: #4e75ff;
$gradiente-primario: linear-gradient(180deg, #ffffff 0%, #ffffff 96.87%);
$gradiente-secundario: linear-gradient(180deg, rgba(250, 250, 250, 0.7) 0%, rgba(255, 255, 255, 0.3) 100%);
//Fontes
$ft-textos: 'Montserrat', sans-serif;
$ft-titulos: 'Montserrat', sans-serif;